<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>BANKING SYSTEM</title>
</head>
<body>
    <header>
        <p> {{ jmeno }} </p>
        <form method="post">
            <input type="submit" class="logout" value="LOGOUT" />
        </form>
    </header>
    <div class="splitContainer">
        <div>
            <form class="transaction" method="post" action="">
                <fieldset>
                    <h2>Deposit</h2>
                    <label for="dep_amount">Amount</label><br>
                    <input type="number" id="dep_amount" name="dep_amount" required><br>
                    <label for="currency">Currency</label><br>
                    <input type="text" id="currency" name="currency" required><br><br>
                    <input type="submit" value="Deposit">
                </fieldset>
            </form>
        </div>
        <div>
            <form class="transaction" method="post" action="">
                <fieldset>
                    <h2>Transaction</h2>
                    <label for="receiver">Receiver</label><br>
                    <input type="text" id="receiver" name="receiver" required><br>
                    <label for="send_amount">Amount</label><br>
                    <input type="number" id="send_amount" name="send_amount" required><br>
                    <label for="currency">Currency</label><br>
                    <input type="text" id="currency" name="currency" required><br><br>
                    <input type="submit" value="Send">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="splitContainer">
        <ul style="align-items: center;">
            {% for balance in balances %}
            <li>{{ '{:.2f}'.format(balance[1]) }}  {{ balance[1] }} {{ balance[0] }}</li>
            {% endfor %}
        </ul>
        <ul style="align-items: center;">
            {% for transaction in transaction_history %}
            <li>{{ transaction }}</li>
            {% endfor %}
        </ul>
    </div>
</body>